{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "AMPLIFY Central API v0.102",
    "version" : "0.102.0",
    "contact" : {
      "name" : "Axway Support",
      "email" : "support@axway.com"
    },
    "license" : {
      "name" : "Copyright Axway 2021. All rights reserved."
    },
    "description" : "APIs to manage AMPLIFY Central configuration resources.",
    "x-api-id" : "a68e7c9b-98bc-519d-9831-ee19d57a2613",
    "x-audience" : "axway-customer"
  },
  "tags" : [ {
    "name" : "catalog",
    "description" : "Resources for group catalog"
  }, {
    "name" : "definitions",
    "description" : "Resources for group definitions"
  }, {
    "name" : "management",
    "description" : "Resources for group management"
  } ],
  "security" : [ {
    "token" : [ ]
  } ],
  "servers" : [ {
    "url" : "https://apicentral.axway.com/apis"
  } ],
  "paths" : {
    "/management/v1alpha1/environments/{environmentName}/discoveryagents" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_DiscoveryAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ\n\nDocumentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "headers" : {
              "X-Axway-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "Total number of discoveryagents."
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Create DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_DiscoveryAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/discoveryagents/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the DiscoveryAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_DiscoveryAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Remove DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_DiscoveryAgent",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing DiscoveryAgent for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed DiscoveryAgent for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_DiscoveryAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/discoveryagents/{name}/status" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the DiscoveryAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_DiscoveryAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_DiscoveryAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated status resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/discoveryagents/{name}/{extension}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "extension",
        "description" : "Name of the extension",
        "in" : "path",
        "schema" : {
          "type" : "string",
          "pattern" : "x-.*"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the DiscoveryAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_DiscoveryAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_DiscoveryAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.DiscoveryAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated Extension resource data of DiscoveryAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.DiscoveryAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/traceabilityagents" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_TraceabilityAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ\n\nDocumentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "headers" : {
              "X-Axway-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "Total number of traceabilityagents."
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Create TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_TraceabilityAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/traceabilityagents/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the TraceabilityAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_TraceabilityAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Remove TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_TraceabilityAgent",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing TraceabilityAgent for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed TraceabilityAgent for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_TraceabilityAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/traceabilityagents/{name}/status" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the TraceabilityAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_TraceabilityAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_TraceabilityAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated status resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/traceabilityagents/{name}/{extension}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "extension",
        "description" : "Name of the extension",
        "in" : "path",
        "schema" : {
          "type" : "string",
          "pattern" : "x-.*"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the TraceabilityAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Retrieves Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_TraceabilityAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "description" : "Update Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_TraceabilityAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.TraceabilityAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated Extension resource data of TraceabilityAgent for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.TraceabilityAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/governanceagents" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Retrieves GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "list_management_v1alpha1_Environment_GovernanceAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ\n\nDocumentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, agentconfigstatus, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "headers" : {
              "X-Axway-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "Total number of governanceagents."
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Create GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "create_management_v1alpha1_Environment_GovernanceAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, agentconfigstatus, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/governanceagents/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the GovernanceAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Retrieves GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "read_management_v1alpha1_Environment_GovernanceAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, agentconfigstatus, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Remove GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "remove_management_v1alpha1_Environment_GovernanceAgent",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Update GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "update_management_v1alpha1_Environment_GovernanceAgent",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status, agentconfigstatus, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/governanceagents/{name}/status" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the GovernanceAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Retrieves status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "read_management_v1alpha1_Environment_GovernanceAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Update status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "update_management_v1alpha1_Environment_GovernanceAgent_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated status resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/governanceagents/{name}/agentconfigstatus" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the GovernanceAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Retrieves agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "read_management_v1alpha1_Environment_GovernanceAgent_agentconfigstatus",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Update agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "update_management_v1alpha1_Environment_GovernanceAgent_agentconfigstatus",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated agentconfigstatus resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/governanceagents/{name}/{extension}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "extension",
        "description" : "Name of the extension",
        "in" : "path",
        "schema" : {
          "type" : "string",
          "pattern" : "x-.*"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the GovernanceAgent",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Retrieves Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "read_management_v1alpha1_Environment_GovernanceAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "description" : "Update Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
        "operationId" : "update_management_v1alpha1_Environment_GovernanceAgent_extension",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.GovernanceAgent resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated Extension resource data of GovernanceAgent for version v1alpha1 from group management in scope Environment. Enable the governance feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.GovernanceAgent"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/stages" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Stage for version v1alpha1 from group catalog",
        "description" : "Retrieves Stage for version v1alpha1 from group catalog",
        "operationId" : "list_catalog_v1alpha1_Stage",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ\n\nDocumentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type Stage for version v1alpha1 from group catalog",
            "headers" : {
              "X-Axway-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "Total number of stages."
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create Stage for version v1alpha1 from group catalog",
        "description" : "Create Stage for version v1alpha1 from group catalog",
        "operationId" : "create_catalog_v1alpha1_Stage",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/stages/{name}" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the Stage",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Stage for version v1alpha1 from group catalog",
        "description" : "Retrieves Stage for version v1alpha1 from group catalog",
        "operationId" : "read_catalog_v1alpha1_Stage",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove Stage for version v1alpha1 from group catalog",
        "description" : "Remove Stage for version v1alpha1 from group catalog",
        "operationId" : "remove_catalog_v1alpha1_Stage",
        "tags" : [ "catalog" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing Stage for version v1alpha1 from group catalog. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed Stage for version v1alpha1 from group catalog"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Stage for version v1alpha1 from group catalog",
        "description" : "Update Stage for version v1alpha1 from group catalog",
        "operationId" : "update_catalog_v1alpha1_Stage",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/stages/{name}/icon" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the Stage",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves icon resource data of Stage for version v1alpha1 from group catalog",
        "description" : "Retrieves icon resource data of Stage for version v1alpha1 from group catalog",
        "operationId" : "read_catalog_v1alpha1_Stage_icon",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read icon resource data of Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update icon resource data of Stage for version v1alpha1 from group catalog",
        "description" : "Update icon resource data of Stage for version v1alpha1 from group catalog",
        "operationId" : "update_catalog_v1alpha1_Stage_icon",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated icon resource data of Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/stages/{name}/{extension}" : {
      "parameters" : [ {
        "name" : "extension",
        "description" : "Name of the extension",
        "in" : "path",
        "schema" : {
          "type" : "string",
          "pattern" : "x-.*"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the Stage",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Extension resource data of Stage for version v1alpha1 from group catalog",
        "description" : "Retrieves Extension resource data of Stage for version v1alpha1 from group catalog",
        "operationId" : "read_catalog_v1alpha1_Stage_extension",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Extension resource data of Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Extension resource data of Stage for version v1alpha1 from group catalog",
        "description" : "Update Extension resource data of Stage for version v1alpha1 from group catalog",
        "operationId" : "update_catalog_v1alpha1_Stage_extension",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Stage resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated Extension resource data of Stage for version v1alpha1 from group catalog",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Stage"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/assets" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "description" : "Retrieves Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "operationId" : "list_catalog_v1alpha1_Asset",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Query string for filtering entity. Expressed in FIQL/RSQL language. Supported filters on resources: * name * title * tags * attributes * metadata.id * metadata.references.id * metadata.references.kind * metadata.references.name * metadata.resourceVersion * metadata.audit.createTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * metadata.audit.modifyTimestamp - Date filter must be provided as epoch time or yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZZZ * spec.type * state\n\nDocumentation link to help with multiple values for query: https://github.com/jirutka/rsql-parser",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Asset resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, state, references, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
            "headers" : {
              "X-Axway-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "Total number of assets."
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "description" : "Create Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "operationId" : "create_catalog_v1alpha1_Asset",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Asset resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, state, references, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/assets/{name}" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the Asset",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "description" : "Retrieves Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "operationId" : "read_catalog_v1alpha1_Asset",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Asset resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, state, references, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "description" : "Remove Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "operationId" : "remove_catalog_v1alpha1_Asset",
        "tags" : [ "catalog" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "description" : "Update Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
        "operationId" : "update_catalog_v1alpha1_Asset",
        "tags" : [ "catalog" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the catalog.v1alpha1.Asset resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, icon, state, references, {extension}. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update Asset for version v1alpha1 from group catalog. Enable the assetCatalog feature flag to have access to this resource.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/catalog.v1alpha1.Asset"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "428" : {
            "$ref" : "#/components/responses/PreConditionRequired"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/v1alpha1/assets/{name}/icon" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the Asset",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
[...]
